Django>=5.2,<6.0
wagtail>=6.0,<7.0
django-haystack
Whoosh
psycopg2-binary
dj-database-url
whitenoise
gunicorn
django-allauth
django-crispy-forms
crispy-bootstrap5
django-compressor
django-storages[boto3]
django-redis
redis